<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsAppDemo.Properties.Settings.DemodbConnectionString"
            connectionString="Data Source=DESKTOP-0H4DLNS\MSSQLSERVER2017;Initial Catalog=Demodb;Persist Security Info=True;User ID=sa;Password=abc123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>